<!DOCTYPE html>
<html>
<head>
<title> {{ driver_name }} </title>
</head>
<body>
<h1> {{ address }} </h1>	
<table>
	<thead>
		<tr><td>name</td><td>value</td></tr>
	</thead>
	<tbody>
		<tr><td>command</td><td>{{ command }}</td></tr>
		<tr><td>commands</td><td></td></tr>
		<tr><td>count_per_rot</td><td>{{ count_per_rot }}</td></tr>
		<tr><td>driver_name</td><td>{{ driver_name }}</td></tr>
		<tr><td>duty_cycle</td><td>{{ duty_cycle }}</td></tr>
		<tr><td>duty_cycle_sp</td><td>{{ duty_cycle_sp }}</td></tr>
		<tr><td>max_speed</td><td>{{ max_speed }}</td></tr>
		<tr><td>polarity</td><td>{{ polarity }}</td></tr>
		<tr><td>position</td><td>{{ position }}</td></tr>
		<tr><td>position_sp</td><td>{{ position_sp }}</td></tr>
		<tr><td>ramp_down_sp</td><td>{{ ramp_down_sp }}</td></tr>
		<tr><td>ramp_up_sp</td><td>{{ ramp_up_sp }}</td></tr>
		<tr><td>speed</td><td>{{ speed }}</td></tr>
		<tr><td>speed_sp</td><td>{{ speed_sp }}</td></tr>
		<tr><td>state</td><td>{{ state }}</td></tr>
		<tr><td>stop_action</td><td>{{ stop_action }}</td></tr>
		<tr><td>stop_actions</td><td>{{ stop_actions }}</td></tr>
		<tr><td>uevent</td><td></td></tr>
	</tbody>
</table>
<a href="/motors">back</a>
</body>
</html>
